@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


body {
  margin: 0;
  padding: 0;
  background: hsl(0, 10%, 10%);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: hsl(217, 12%, 50%);
}

/* a:visited {
  color: purple;
} */

a:hover, a:focus {
  /* text-decoration: underline; */
  color: #454c57;
  background: rgb(171, 188, 214, 20%);
  /* border: solid 2px #454c57; */
  border-radius: 6px;
}

a:active {
  color: #8591a5;
}

h1 {
  color: #382e2e;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  /* line-height: 1.3rem;
  word-spacing: -0.01rem;
  letter-spacing: 0.03rem; */
  text-align: left;
}

p {
  color: hsl(0, 10%, 30%);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  /* word-spacing: -0.01rem; */
  letter-spacing: 0.03rem;
  text-align: left;
}

.content {
  /* background: white; */

  margin: 2em 4em;
  padding: 16px;
}

.banner-container {
  position: relative;
  
  width: 100%;
  height: 128px;
  margin: 0;
  padding: 0;
}

.banner-back {
  position: absolute;
  
  width: 100%;
  margin: 0;
}

.banner-front {
  position: absolute;
  top: -16px;

  margin: 0 3.5em;
}
