<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <div class="banner-container">
      <div class="banner-back">
        <img src="square.png" width="100%" height="72px">
      </div>
      <div class="banner-back">
          <img src="blue_square.png" width="100%" height="42px">
      </div>

      <div class="banner-front">
        <div class="banner-logo">
          <a href="/.."> <img src="aswiftdemise_horiz_letters.png" width="460px"> </a>
        </div>
        <div class="nav">
          <span class="nav-span"> 
            <a href="/..">home</a>
            <a href="/about">about</a>
            <a href="/contact">contact</a> 
          </span>
        </div>
      </div>
    </div>
    <div class="content">
      <img src="running-man-21418_256.gif">
      <br>
      <audio src="basement.mp3" autoplay muted loop></audio>
      {{ content }}
    </div>
  </body>
</html>